@page "/Review/{ReviewId}"
@using System.Text.Json
@using DataManager.Helpers
@using LastWeek.Model.Enums
@inject IAuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient apiClient

<section>
    @if (Review == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="message">
                <span>@message</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="errorMessage">
                <span>@errorMessage</span>
            </div>
        }
        <h1>@Review.Status</h1>
        <EditForm Model="@Review" OnValidSubmit="HandleValidSubmit">
            <div>
                <label>Review from </label>
                <InputDate @bind-Value="Review.StartDate"></InputDate>
            </div>
            <div>
                <label>To </label>
                <InputDate @bind-Value="Review.EndDate"></InputDate>
            </div>
            @if (Review.Entries != null)
            {
                @foreach (var entry in Review.Entries)
                {
                    <div>
                        <EntryTemplate Entry="@entry" />
                        <button type="button" class="btn-link btn-primary" @onclick="@(() => RemoveEntry(entry))">X</button>
                    </div>
                }
            }
            <button type="submit" class="btn btn-primary">Save</button>
            <div>
                <InputSelect @bind-Value="newEntryType">
                    @foreach (var type in Enum.GetValues<EntryType>().Where(t => t != EntryType.Entry))
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
                <button type="button" class="btn btn-primary" @onclick="AddEntry">+</button>
            </div>
        </EditForm>
        <a href="/">Back</a>
    }
</section>

@code {
    [Parameter]
    public string? ReviewId { get; set; }
    [Parameter]
    public Review? Review { get; set; }
    private User signedUser = new User();
    JsonSerializerOptions serializeOptions = new JsonSerializerOptions();
    private string message = string.Empty;
    private string errorMessage = string.Empty;
    private EntryType newEntryType;

    protected override async Task OnInitializedAsync()
    {
        serializeOptions.Converters.Add(new EntryConverter());
        var hasKey = await localStorage.ContainKeyAsync("user");
        var saved = await localStorage.GetItemAsync<User>("user");

        Console.WriteLine($"Tried to retrieve key: {hasKey} - {saved?.Guid}");

        if (hasKey)
        {
            this.signedUser = saved!;
            await GetUserReview();
        }
        else
        {
            Review = new()
                {
                    StartDate = DateTime.Today.AddDays(-19),
                    EndDate = DateTime.Today.AddDays(-12),
                };
        }
    }

    protected async Task GetUserReview()
    {
        Review = await apiClient.GetFromJsonAsync<Review>($"Review?guid={ReviewId}", serializeOptions) ?? new();
    }

    private async Task HandleValidSubmit()
    {
        if (Review == null) return;
        Review.Status = ReviewStatus.Active;
        HttpResponseMessage response = await apiClient.PostAsJsonAsync<Review>($"Review", Review!, serializeOptions);
        if (response.IsSuccessStatusCode)
        {
            message = "Review saved!";
        }
        else
        {
            errorMessage = "Could not save your review.";
        }
    }

    private void AddEntry()
    {
        Entry newEntry = newEntryType switch
        {
            EntryType.ChoiceEntry => new ChoiceEntry(),
            EntryType.RangeEntry => new RangeEntry(),
            EntryType.SimpleEntry => new SimpleEntry(),
            EntryType.TextEntry => new TextEntry(),
            _ => new SimpleEntry(),
        };
        Review!.Entries.Add(newEntry);
    }

    private void RemoveEntry(Entry entry)
    {
        Review!.Entries.Remove(entry);
    }
}
