@namespace LastWeek.Shared.EntryModules

<div>
    <InputNumber min="@Entry.Boundaries.Start.Value" max="@Entry.Boundaries.End.Value"
    Value="@Entry.Selected" ValueExpression="@(() => Entry.Selected)"
            ValueChanged="@((double value) => ValidateInput(value))">
    </InputNumber>
</div>


@code {
    [Parameter]
    public RangeEntry Entry { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ValidateInput(Entry.Selected);
    }

    private void ValidateInput(double value)
    {
        Entry.Selected = Math.Clamp(value, Entry.Boundaries.Start.Value, Entry.Boundaries.End.Value);
    }
}