<div class="entry-container">
    <InputTextArea Placeholder="Your question" @bind-Value="@Entry.Question" />
    @switch (Entry)
        {
            case ChoiceEntry entry:
                <ChoiceEntryModule Entry="@entry" />
                break;
            case RangeEntry entry:
                <RangeEntryModule Entry="@entry" />
                break;
            case SimpleEntry entry:
                <SimpleEntryModule Entry="@entry" />
                break;
            case TextEntry entry:
                <TextEntryModule Entry="@entry" />
                break;
        }
</div>

@code {
    [Parameter]
    public Entry Entry { get; set; } = new();
}