<div class="entry-container">
    <InputTextArea Placeholder="Your question" @bind-Value="@Entry.Question" />
    @switch (Entry)
        {
            case ChoiceRecord entry:
                <ChoiceEntryModule Entry="@entry" />
                break;
            case RangeRecord entry:
                <RangeEntryModule Entry="@entry" />
                break;
            case SimpleRecord entry:
                <SimpleEntryModule Entry="@entry" />
                break;
            case TextRecord entry:
                <TextEntryModule Entry="@entry" />
                break;
        }
</div>

@code {
    [Parameter]
    public Record Entry { get; set; } = new();
}